*.html
#Use run.py for testing purpose only
run.py
.DS_Store
*.swp
.vagrant
*.pyc
.project
*.xml
*.swo
run.py
*.ipynb
run_tests.py
*.out
main
*.gz
*.csv
!test/sample/*.csv
getfile*.json
prod.env
.idea